.dashboard {
  background-color: #ffffff;
  text-align: center;
  width: 100%;
  height: 100%;
  color: #ffffff;
  padding: 2%;
}

.valueBox {
  /*background: #534d4d;*/
  background: #111111;
  text-align: center;
  position: relative;
  margin-right: 5%;
  border-radius: 10px;
  height: 20vh;
}

.row {
  width: 100%;
  height: 30%;
  padding: 3%;
}

.header {
  width: 100%;
  height: 20%;
  text-align: center;
  color: #ffffff;
  background: #111111;
}

.column {
  margin-left: 30%;
  text-align: center;
}

.bg {
  background: #111111;
}

.container {
  width: 10px;
  height: 20%;
  background: #111111;
}

.scene {
  display: inline-block;
  width: 200px;
  height: 260px;
  /*   border: 1px solid #CCC; */
  margin: 40px 0;
  perspective: 600px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  backface-visibility: hidden;
}

.card__face--front {
  background: crimson;
}

.card__face--back {
  background: slateblue;
  transform: rotateY(180deg);
}

.fordate {
  font-size: small;
  padding-top: 50%;
  position: relative;
  text-size-adjust: relative;
  font-size: 2vh;
  margin-top: 80%;
  text-decoration: none;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.record {
  color: #111111;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15%;
}
