{% extends "base.html" %}
 {% block title %} Montanskopi {% endblock %} 
 {% block
gradeOne %} hakdog {% endblock %} {% block gradeTwo %} burger {% endblock %} {%
block gradeThree %} sandwich {% endblock %} {% block totGrade %} food {%
endblock %} {%block recDateOne %} VALUE {% endblock %} {%block recGradeOneFirst
%} VALUE {% endblock %} {%block recGradeTwoFirst %} VALUE {% endblock %} {%block
recGradeThrFirst %} VALUE {% endblock %} {%block recDateTwo %} VALUE {% endblock
%} {%block recGradeOneSecond %} VALUE {% endblock %} {%block recGradeTwoSecond
%} VALUE {% endblock %} {%block recGradeThrSecond %} VALUE {% endblock %}
{%block recDateThree %} VALUE {% endblock %} {%block recGradeOneThird %} VALUE
{% endblock %} {%block recGradeTwoThird %} VALUE {% endblock %} {%block
recGradeThrThird %} VALUE {% endblock %} {%block recDateFour %} VALUE {%
endblock %} {%block recGradeOneFourth %} VALUE {% endblock %} {%block
recGradeTwoFourth %} VALUE {% endblock %} {%block recGradeThrFourth %} VALUE {%
endblock %} {%block recDateFive %} VALUE {% endblock %} {%block recGradeOneFifth
%} VALUE {% endblock %} {%block recGradeTwoFifth %} VALUE {% endblock %} {%block
recGradeThrFifth %} VALUE {% endblock %}
